click==8.0.3
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
Werkzeug==2.0.2
Pandas==2.2.1
Pillow==10.2.0
Boto3==1.34.64
Bs4==0.0.2
Requests==2.31.0
Configparser==6.0.1
Wheel==0.43.0
